.recipe-images-div{
    max-width: 350px;
    overflow: hidden;
}

.recipe-images {
    height: 200px;
    width: 200px;
}

.view-recipe-imgdiv{
    height: 400px;
    max-width: 600px;
    overflow: hidden;
}

.view-recipe-image{
    height: 400px;
}