
/*------------------------------find recipe page*/
.side-nav-container{
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0px;
    width: 15%;
}
.filter-button{
    width: 100%;
}

.side-nav-comp li{
    padding: 10px 5px;
    
}

.recipe-images-div{
    max-width: 350px;
    overflow: hidden;
}

.recipe-images {
    height: 200px;
    width: 200px;
}


/*------------------------------view recipe page*/
.view-recipe-imgdiv{
    height: 400px;
    max-width: 600px;
    overflow: hidden;
}

.view-recipe-image{
    height: 400px;
}

.thumbs-up p{
    display: inline;
}
.thumbs-up a {
    background-color: #fff;
    border: none;
}

.thumbs-up i {
    vertical-align: text-bottom;
    color: #4b4444;
}

.thumbs-up i.select-t-u {
    vertical-align: text-bottom;
    color: #26a69a;
    font-size: 30px;
}

/*.thumbs-up i::before {*/
/*    vertical-align: text-bottom;*/
/*    color: #4b4444;*/
/*}*/

/*.thumbs-up i::after {*/
/*    vertical-align: text-bottom;*/
/*    color: #26a69a;*/
/*}*/