@font-face{
    
    font-family: bite-chocolate;
    src: url('/static/css/fonts/billy-argel_bite-chocolate/Bite Chocolate Personal Use.ttf')
}

@font-face{
    font-family: panforte;
    src: url('/static/css/fonts/zetafonts_panforte/Panforte Pro Regular.ttf')
}

body{
    font-family: panforte;
}
/*-------------------------------------login and register*/
.container-login{
    background-image: url(https://d39l2hkdp2esp1.cloudfront.net/img/photo/126844/126844_00_2x.jpg?20170622031731);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin-top: -3%;
}
.login-title h1{
    color: red;
}

/* -----------------------------------base.html */
.username{
    color:green;
}
.brand-logo{
    font-family: bite-chocolate;
    font-size: 1.8rem !important;
}
nav .brand-logo {
    padding-left: 15px;
}
nav{
    background-color: #576783;
}

nav ul a {
    font-size: 1.5rem;
}

/*------------------------------all recipes page*/
.side-nav-container{
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0px;
    width: 15%;
}
.filter-button{
    width: 100%;
}

.side-nav-comp li{
    padding: 10px 5px;
    
}

.recipe-images-div{
    max-width: 350px;
    overflow: hidden;
}

.recipe-images {
    height: 200px;
    width: 200px;
}


/*------------------------------view recipe page*/
.view-recipe-imgdiv{
    height: 400px;
    max-width: 600px;
    overflow: hidden;
}

.view-recipe-image{
    height: 400px;
}

.thumbs-up p{
    display: inline;
}
.thumbs-up button {
    background-color: #fff;
    border: none;
}

.thumbs-up i {
    vertical-align: text-bottom;
    color: #4b4444;
}

.thumbs-up i.select-t-u {
    vertical-align: text-bottom;
    color: #26a69a;
    font-size: 30px;
}

/*.thumbs-up i::before {*/
/*    vertical-align: text-bottom;*/
/*    color: #4b4444;*/
/*}*/

/*.thumbs-up i::after {*/
/*    vertical-align: text-bottom;*/
/*    color: #26a69a;*/
/*}*/