{% extends 'base.html' %} {% block content %}
<form action="{{ url_for('insert_recipe') }}" method='POST'>
    <div class="input-field col s6">
        <input id="username" name="username" type="text" class="validate">
        <label for="first_name">Username</label>
    </div>
    <div class="input-field col s6">
        <input id="name_of_dish" name="name_of_dish" type="text" class="validate">
        <label for="last_name">Name of the Dish</label>
    </div>
    <div class="input-field col s6">
        <select id="serves" name="serves">
          <option value="" disabled selected>How many does it serve?</option>
          {% for number in serves %}
          <option value="{{number}}">{{number}}</option>
          {% endfor %}
        </select>
        <label>Serves</label>
    </div>
    <div class="input-field col s6">
        <select id="cuisine" name="cuisine">
          <option value="" disabled selected>Choose Cuisine</option>
          {% for cuisine in cuisine %}
          <option value="{{cuisine}}">{{cuisine}}</option>
          {% endfor %}
        </select>
        <label>Cuisine</label>
    </div>
    <div class="input-field col s12">
        <textarea id="ingredients" name="ingredients" class="materialize-textarea"></textarea>
        <label for="textarea1">Ingredients</label>
    </div>
    <div class="input-field col s12">
        <textarea id="method" name="method" class="materialize-textarea"></textarea>
        <label for="textarea1">Method</label>
    </div>
    <div class="switch">
        <label>
          Contain Nuts?
          <input id="contain_nuts" name="contain_nuts" type="checkbox">
          <span class="lever"></span>
        </label>
    </div>
    <div class="switch">
        <label>
          Contain Gluten?
          <input id="contain_gluten" name="contain_gluten" type="checkbox">
          <span class="lever"></span>
        </label>
    </div>
    <div class="switch">
        <label>
          Contain lactose?
          <input id="contain_lactose" name="contain_lactose" type="checkbox">
          <span class="lever"></span>
        </label>
    </div>
    <div class="switch">
        <label>
          Suitable for Batch Cooking?
          <input id="batch_cook" name="batch_cook" type="checkbox">
          <span class="lever"></span>
        </label>
    </div>
    <div class="input-field col s6">
        <input id="image_url" name="image_url" type="text" class="validate">
        <label for="first_name">Image URL</label>
    </div>
    <!--<div class="file-field input-field">-->
    <!--    <div class="btn">-->
    <!--        <span>Upload a photo</span>-->
    <!--        <input type="file">-->
    <!--    </div>-->
    <!--    <div class="file-path-wrapper">-->
    <!--        <input class="file-path validate" type="text">-->
    <!--    </div>-->
    <!--</div>-->
    <div>
        <button class="btn waves-effect waves-light" type="submit">Add Recipe
            <i class="material-icons right">playlist_add</i>
        </button>
    </div>
</form>
{% endblock %}
