{% extends 'base.html' %} {% block content %}

<div class="side-nav-container">
    <h6>Looking for something imparticular?</h6>
    <button class="btn waves-effect waves-light filter-button dropdown-button" href="#!" data-activates="dropdown1" type="submit">Filter
        <i class="material-icons right">filter_list</i>
    </button>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ url_for('all_recipes') }}">All Recipes</a></li>
        <li><a href="#!">Most Popular</a></li>
        <li><a href="{{ url_for('sort_gluten_free') }}">Gluten Free</a></li>
        <li><a href="{{ url_for('sort_nut_free') }}">Nut Free</a></li>
        <li><a href="{{ url_for('sort_lactose_free') }}">Lactose Free</a></li>
        <li><a href="{{ url_for('sort_batch_cook') }}">Meals for Batch Cooking</a></li>
    </ul>
    <!--<ul class="side-nav-comp" id="">-->
    <!--    <li><a href="">Most Popular</a></li>-->
    <!--    <li><a href="">Gluten Free</a></li>-->
    <!--    <li><a href="">Nut Free</a></li>-->
    <!--    <li><a href="">Lactose Free</a></li>-->
    <!--    <li><a href="">Meals for Batch Cooking</a></li>-->
    <!--</ul>-->
</div>
<div class="row">
    <div class="col s12 center-align">
        <h1>Meals for Batch Cooking</h1>
    </div>
</div>
<!--<div>-->
<!--    Most Popular-->
<!--    Gluten Free-->
<!--    Nut Free-->
<!--    Lactose Free-->
<!--    Meals for Batch Cooking-->
<!--</div>-->
<div class="row">
    {% for recipe in batch_cooks %}
    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="card-image col s6 col m6 col l4 center-align">
            <div class="card recipe-images-div">
                <div class="card-image">
                    <img class="recipe-images" src="{{ recipe.image_url }}">
                </div>
                <div class="card-content">
                    <p>{{ recipe.name_of_dish }}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>


{% endblock %}
