{% extends 'base.html' %} {% block content %}
<form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method='POST'>
    <div class="input-field col s6">
        <input id="username" name="username" type="text" class="validate" value="{{recipe.username}}">
        <label for="first_name">Username</label>
    </div>
    <div class="input-field col s6">
        <input id="name_of_dish" name="name_of_dish" type="text" class="validate" value="{{recipe.name_of_dish}}">
        <label for="last_name">Name of the Dish</label>
    </div>
    <div class="input-field col s6">
        <select id="serves" name="serves">
          <option value="" disabled selected>How many does it serve?</option>
          {% for number in serves %}
          <option value="{{number}}" selected>{{number}}</option>
          {% endfor %}
        </select>
        <label>Serves</label>
    </div>
    <div class="input-field col s6">
        <select id="cuisine" name="cuisine">
          <option value="" disabled selected>Choose Cuisine</option>
          {% for cuisine in cuisine %}
          <option value="{{cuisine}}" selected>{{cuisine}}</option>
          {% endfor %}
        </select>
        <label>Cuisine</label>
    </div>
    <div class="input-field col s12">
        <textarea id="ingredients" name="ingredients" class="materialize-textarea">{{recipe.ingredients}}</textarea>
        <label for="textarea1">Ingredients</label>
    </div>
    <div class="input-field col s12">
        <textarea id="method" name="method" class="materialize-textarea">{{recipe.method}}</textarea>
        <label for="textarea1">Method</label>
    </div>
    <div class="switch">
        <label>
          Contain Nuts?
          {% if recipe.contain_nuts %}
          <input id="contain_nuts" name="contain_nuts" type="checkbox" checked>
          {% else %}
          <input id="contain_nuts" name="contain_nuts" type="checkbox">
          {% endif %}
          <span class="lever"></span>
        </label>
    </div>
    <div class="switch">
        <label>
          Contain Gluten?
          {% if recipe.contain_gluten %}
          <input id="contain_gluten" name="contain_gluten" type="checkbox" checked>
          {% else %}
          <input id="contain_gluten" name="contain_gluten" type="checkbox">
          {% endif %}
          <span class="lever"></span>
        </label>
    </div>
    <div class="switch">
        <label>
          Contain lactose?
          {% if recipe.contain_lactose %}
          <input id="contain_lactose" name="contain_nuts" type="checkbox" checked>
          {% else %}
          <input id="contain_lactose" name="contain_lactose" type="checkbox">
          {% endif %}
          <span class="lever"></span>
        </label>
    </div>
    <div class="switch">
        <label>
          Suitable for Batch Cooking?
          {% if recipe.batch_cook %}
          <input id="batch_cook" name="batch_cook" type="checkbox" checked>
          {% else %}
          <input id="batch_cook" name="batch_cook" type="checkbox">
          {% endif %}
          <span class="lever"></span>
        </label>
    </div>
    <div class="input-field col s6">
        <input id="image_url" name="image_url" type="text" class="validate" value="{{recipe.image_url}}">
        <label for="first_name">Image URL</label>
    </div>
    <div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Edit Recipe
            <i class="material-icons right">playlist_add</i>
        </button>
    </div>
</form>
{% endblock %}
