{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>The Pantry</h1>
        </div>
    </div>
    <div class="row">
        <div class="card-image col s12 col m3 col offset-m3 center-align">
            <a href="{{ url_for('all_recipes') }}"><img src="images/sample-1.jpg"><span class="card-title">Find a recipe</span></a>
        </div>
        <div class="card-image col s12 col m3 center-align">
            <a href="{{ url_for('to_add_recipe_page') }}"><img src="images/sample-1.jpg"><span class="card-title">Add recipe</span></a>
        </div>
    </div>
</div>
<div>
    <div id="trial-chart"></div>
</div>
{% endblock %}
