{% extends 'base.html' %}
{% block title %}Nut Free Recipes{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 side-nav-row">
        <div class="side-nav-container">
            <ul id="dropdown1" class="dropdown-content dropdown-recipes">
                <li><a href="{{ url_for('all_recipes') }}">All Recipes</a></li>
                <li><a href="{{ url_for('sort_most_popular') }}">Most Popular</a></li>
                <li><a href="{{ url_for('sort_gluten_free') }}">Gluten Free</a></li>
                <li><a href="{{ url_for('sort_nut_free') }}">Nut Free</a></li>
                <li><a href="{{ url_for('sort_lactose_free') }}">Lactose Free</a></li>
                <li><a href="{{ url_for('sort_batch_cook') }}">Meals for Batch Cooking</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <button class="btn waves-effect waves-light filter-button dropdown-button" href="#!" data-activates="dropdown1" type="submit">Filter
                <i class="material-icons right">filter_list</i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align recipes-header">
        <h1>Nut Free</h1>
    </div>
</div>
<div class="row">
    {% for recipe in recipes %}
    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
        <div class="card-image col s6 col m6 col l3 center-align">
            <div class="card recipe-images-div">
                <div class="card-image">
                    <img class="recipe-images" src="{{ recipe.image_url }}">
                </div>
                <div class="card-content">
                    <p>{{ recipe.name_of_dish }}</p>
                    <p>{{ recipe.cuisine }}</p>
                    <p>{{ recipe.cooking_time }}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    <div class="row">
        <div class="col s12 center-align">
            <ul class="pagination">
                {% if offset > 0 %}
                <li class=""><a href="{{previous_url}}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                <li>{{page_count}} of {{recipe_count}}</li>
                {% if offset + limit >= recipe_count or page_count < limit %}
                <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                <li class=""><a href="{{next_url}}"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
