{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s12 col offset-m3 col m6 view-recipe-imgdiv">
        <img class="view-recipe-image" src="{{ recipe_selected.image_url }}">
    </div>
</div>
<div class="row">
    <div class="col s12 col offset-m3 col m6 ">
        <h4>{{ recipe_selected.name_of_dish }} by {{ recipe_selected.username }}</h4>
    </div>
</div>
<div class="row">
    <div class="col s12 col offset-m3 col m6 ">
        <h6>{{ recipe_selected.cuisine }}</h6>
    </div>
</div>
<div class="row">
    <div class="col s12 col offset-m3 col m6 ">
        <p>{{ recipe_selected.serves }}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 col offset-m3 col m6 ">
        <p>{{ recipe_selected.ingredients }}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 col offset-m3 col m6 ">
        <p>{{ recipe_selected.method }}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 col offset-m3 col m6 ">
        <p>{{ recipe_selected.contain_nuts }}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 col offset-m3 col m6 ">
        <p>{{ recipe_selected.contain_gluten }}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 col offset-m3 col m6">
        <p>{{ recipe_selected.contain_lactose }}</p>
    </div>
</div>
<div class="row">
    <div class="col s12 col offset-m3 col m6">
        <p>{{ recipe_selected.batch_cook }}</p>
    </div>
</div>
<div class="row">
    <div class="thumbs-up col s12 col offset-m3 col m6">
        <p>Give this dish a thumbs up -</p>
        <button class="thumbs-up-button"><i class="material-icons prefix thumb-up">thumb_up</i></button>
    </div>
</div>
<div class="row">
    <div class="col s6 col offset-m3 col m6">
        <a href="{{ url_for('to_edit_recipe', recipe_id=recipe_selected._id) }}" class="waves-effect waves-light btn btn_small">Edit Recipe</a>
        <a href="{{ url_for('delete_recipe', recipe_id=recipe_selected._id) }}" class="waves-effect waves-light btn btn_small blue">Delete Recipe</a>
    </div>
</div>


{% endblock %}
